<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>手机银行客户认领</title>
    <style type="text/css" media="all">
        @import url("${request.contextPath}/static/css/style.css");
        @import url("${request.contextPath}/static/css/jquery.wysiwyg.css");
        @import url("${request.contextPath}/static/css/facebox.css");
        @import url("${request.contextPath}/static/css/visualize.css");
        @import url("${request.contextPath}/static/css/date_input.css");
    </style>
    <style>
        .block form p{
            display: inline-block;
        }
    </style>
    <!--[if lt IE 8]><style type="text/css" media="all">@import url("${request.contextPath}/static/css/ie.css");</style><![endif]-->
</head>
<body>
<div class="block">
    <div class="block_head">
        <div class="bheadl"></div>
        <div class="bheadr"></div>
        <h2>客户认领</h2>
    </div>
    <div class="block_content">
        <form action="${request.contextPath}/ebank/customerClaim" method="post">
            <p><label>查询条件:</label> <br />
                <select class="styled" name="key">
                    <option  ${(key==-1) ? string('selected','')} value="-1">不过滤</option>
                    <option  ${(key==0) ? string('selected','')} value="0">用户名</option>
                    <option  ${(key==1) ? string('selected','')} value="1">客户号</option>
                    <option  ${(key==2) ? string('selected','')} value="2">身份证号码</option>
                    <option  ${(key==3) ? string('selected','')} value="3">手机号</option>
                </select>
            </p>
            <p>
                <label>过滤内容:</label><br />
                <input type="text" name="value" class="text small" value="${value}" />
            </p>
            <p>
                <input type="submit" class="submit small" value="提交" />
            </p>
            <hr />
        </form>
    </div>
    <div class="block_content">

        <form action="" method="post">

            <table cellpadding="0" cellspacing="0" width="100%" class="sortable">
                <thead>
                <tr>
                    <th>用户名</th>
                    <th>客户号</th>
                    <th>身份证号码</th>
                    <th>手机号</th>
                    <th>认证等级</th>
                    <th>认领人员</th>
                    <td>操作</td>
                </tr>
                </thead>

                <tbody>
                <#if users?? && (users?size > 0)>
                <#list users as user>
                <tr>
                    <td>${user.name!''}</td>
                    <td>${user.userId!''}</td>
                    <td>${user.idCardNumber!''}</td>
                    <td>${user.phone!''}</td>
                    <td>${user.grade!''}</td>
                    <td>${user.customerManager!''}</td>
                    <td>
                    <#if !user.customerManager??>
                    <a href="${request.contextPath}/ebank/customerClaim?pageNum=${currentPage}&userId=${user.userId!''}">认领</a>
                    </#if>
                    </td>
                </tr>
                </#list>
            </#if>
            </tbody>

            </table>
            <div class="pagination right">
                <#if pageShow?? && (pageShow?size > 0)>
                <span>共 ${totalPages} 页</span>
                <a href="${request.contextPath}/ebank/customerClaim?key=${key}&value=${value}&pageNum=1">第一页</a>
                <#list pageShow as ps>
                <a href="${request.contextPath}/ebank/customerClaim?key=${key}&value=${value}&pageNum=${ps.num}" ${ps.attr}>${ps.show}</a>
                </#list>
                <a href="${request.contextPath}/ebank/customerClaim?key=${key}&value=${value}&pageNum=${totalPages}">最后一页</a>
                </#if>
            </div>
        </form>

    </div>		<!-- .block_content ends -->
    <div class="bendl"></div>
    <div class="bendr"></div>
</div>
<!--[if IE]><script type="text/javascript" src="${request.contextPath}/static/js/excanvas.js"></script><![endif]-->
<script type="text/javascript" src="${request.contextPath}/static/js/jquery.js"></script>
<script type="text/javascript" src="${request.contextPath}/static/js/jquery.img.preload.js"></script>
<script type="text/javascript" src="${request.contextPath}/static/js/jquery.filestyle.mini.js"></script>
<script type="text/javascript" src="${request.contextPath}/static/js/jquery.wysiwyg.js"></script>
<script type="text/javascript" src="${request.contextPath}/static/js/jquery.date_input.pack.js"></script>
<script type="text/javascript" src="${request.contextPath}/static/js/facebox.js"></script>
<script type="text/javascript" src="${request.contextPath}/static/js/jquery.visualize.js"></script>
<script type="text/javascript" src="${request.contextPath}/static/js/jquery.visualize.tooltip.js"></script>
<script type="text/javascript" src="${request.contextPath}/static/js/jquery.select_skin.js"></script>
<script type="text/javascript" src="${request.contextPath}/static/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="${request.contextPath}/static/js/ajaxupload.js"></script>
<script type="text/javascript" src="${request.contextPath}/static/js/jquery.pngfix.js"></script>
<script type="text/javascript" src="${request.contextPath}/static/js/custom.js"></script>
</body>
</html>