@font-face {
	font-family: 'TitilliumWeb-Black-2';
	src: url('TitilliumWeb-Black-2.ttf');
}

@font-face {
	font-family: 'TitilliumWeb-Bold-3';
	src: url('TitilliumWeb-Bold-3.ttf');
}


@font-face {
	font-family: 'TitilliumWeb-SemiBoldItalic-12';
	src: url('TitilliumWeb-SemiBoldItalic-12.ttf');
}

@font-face {
	font-family: 'TitilliumWeb-Regular-10';
	src: url('TitilliumWeb-Regular-10.ttf');
}
